body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4ff;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo {
  width: 120px;
  margin-bottom: 10px;
}
.wish {
  font-size: 22px;
  margin: 20px 0;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}

.newWishButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
